//footer
.main-footer {
  background-color: #282d32;
  width: 100%;
  color: #f0f9ff;
}

.main-footer p {
  font-size: 14px;
  // margin-bottom: 20px;
  color: #b7b7b7;
}

.main-footer a:hover {
  color: white;
  font-size: 18px;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  background-color: rgb(11, 11, 35);
  width: 100%;
  color: #b7b7b7;
  padding: 1rem;
  text-align: center;
}

.mail {
  color: #b7b7b7 !important;
}

.mail:hover {
  color: white !important;
  font-size: 18px;
}


a {
  cursor: pointer;
  text-decoration: none;
  // transition: color 0.3s;
}

i {
  font-size: 24px;
}

.quickLinks {
  margin-left: 3rem;
}

.follow {
  margin-left: 6rem;
}

/* Responsive styles using media queries */
@media (max-width: 767px) {
  .col-sm-6 {
    flex: 0 0 50.00%;
    max-width: 50%;
  }

  .copyright {
    background-color: rgb(11, 11, 35);
    width: 100%;
    color: #b7b7b7;
    padding: 1rem;
    text-align: center;
  }

  .follow,
  .quickLinks {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .follow,
  .quickLinks {
    margin-left: 0;
  }
}